:root{
    --primaryColor: #333533;
    --secondaryColor: #242423;
    --tertiaryColor: #e8eddf;
    --primaryColorGrey: #cfdbd5;
    --fourthColor: #f5cb5c;
    --font1: Noto, sans-serif;
    --font2: Futara, sans-serif;

}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font1);
}

body, html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    background: var(--secondaryColor);
}

body > *{
    padding: 1rem;
}

header{
    text-align: center;
    color: var(--fourthColor);
    font-family: var(--font2);
    flex-grow: 0;
    font-variant: small-caps;
}
.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu > a{
    font-size: 1.3rem;
    color: var(--tertiaryColor);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.menu > a:hover {
    color: var(--fourthColor);
    text-shadow: 0 0 10px var(--fourthColor);
    transform: translateY(-2px);
}
.menu > a:active {
    transform: translateY(2px);
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    border: var(--tertiaryColor) 5px solid;
    font-family: var(--font1);
    flex-grow: 1;
    border-radius: 0.2rem;
    color: var(--tertiaryColor);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer{
    text-align: center;
    color: var(--tertiaryColor);
    font-family: var(--font1);
    flex-grow: 0;
}
h1 {
    font-family: var(--font2);
    color: var(--fourthColor);
    text-shadow: 0 0 10px var(--fourthColor);
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.card{
    position: relative;
    border: 2px solid var(--primaryColor);
    width: 22vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    transition: box-shadow 0.5s ease-in-out;
}

.card__img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}
.card__desc{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    transition: opacity 0.5s ease-in-out,height 0.5s ease-in-out;
    opacity: 0;
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--tertiaryColor);
    font-size: 1.2rem;
    padding: 3rem 0 0.5rem 0;
}
.card:hover .card__desc{
    opacity: 1;
}
/*
Pour la page movie, la liste des acteurs :
 */
.list__cast {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__horizontal{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 5px solid var(--tertiaryColor);
    text-decoration: none;
    color: var(--tertiaryColor);
    font-size: 1rem;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.card__horizontal:hover{
    color: var(--fourthColor);
    text-shadow: 0 0 10px var(--fourthColor);
    font-size: 1.05rem;
}


.card__horizontal>img{
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}
.card__horizontal>.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.1rem;
    width: 100%;
    margin: 0.2rem;
    justify-content: center;
}
.card__horizontal>.info>*{
    flex: 0;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}
.card__desc > p {
    color: var(--primaryColorGrey);
}


/*
Toujours la liste des movies, mais pour les informations du film :
 */
.master__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.master__card>img{
    width: 100%;
    max-width: 300px;
    border-radius: 0.2rem;
}
.master__card>.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.master__card>.info>*{
    height: 100%;
}
.master__card>.info>.sub_info{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}
.tagline{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}

.overview{
    text-align: justify;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.master__card>.info>*:not(.overview){
    padding: 0.1rem;
    flex: 0;
}
/*
Affichage pour tablette :
 */
@media screen and (min-width: 360px){
    .list {
        justify-content: space-evenly;
    }
}
/*
Affichage pour PC :
 */
@media screen and (min-width: 775px) {
    .menu {
        flex-direction: row;
    }
    .master__card{
        flex-direction: row;
        align-items: flex-start;
    }
    .master__card>img{
        width: 20vh;
        object-fit: cover;
    }
    .master__card>.info>.sub_info{
        flex-direction: row;
        gap: 2rem;
    }
    .sub_info .date~.date {
        flex: 1;
        text-align: left;
    }

    .list__cast {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card__horizontal {
        width: auto;
        flex: 1;
        min-width: 40%;
    }
}
@media (pointer:coarse) {
    .card__desc{
        opacity: 1;
    }
}