:root{
    --primaryColor: #EFF5F5;
    --secondaryColor: #D6E4E5;
    --tertiaryColor: #497174;
    --primaryColorGrey: #d7dbdb;
    --fourthColor: #EB6440;
    --font1: Noto, sans-serif;
    --font2: Futara, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body, html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    background-color: var(--primaryColor);
}

body > *{
    padding: 1rem;
}

header{
    text-align: center;
    color: var(--fourthColor);
    font-family: var(--font2);
    flex-grow: 0;
}

main{
    overflow-y: scroll;
    border: var(--tertiaryColor) 2px solid;
    border-radius: 0.2rem;
    font-family: var(--font1);
    flex-grow: 1;
}

footer{
    text-align: center;
    color: var(--tertiaryColor);
    font-family: var(--font1);
    flex-grow: 0;
}